nav {
    .navbar-brand {
        a.navbar-item {
            h1 {
                font-size: 24px;
                font-family: 'Lato';
                text-transform: uppercase;
            }
        }
    }
}